:root {
    --secondaryColor: white;
    --headingColor: black;
}

.slider-items {
    border-radius: 10px;
    padding: 30px;
    background-color: #ffffcc;
    width: 90% !important;
    margin: 5%;
    font-family: sans-serif;
    height: 200px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-headings {
    font-size: 20px;
    color: #333333;
    transform: translateX(10px);
}

.about-img-cont {
    opacity: 0;
    animation: fromLeft .5s ease-in-out .2s forwards;
}

.skill-slider {
    margin: auto;
    opacity: 0;
    animation: fromRight .5s ease-in-out .2s forwards;
}

.about-page {
    width: 90vw;
    margin: auto !important;
    padding: 20px;
    border-radius: 20px;

}

.about-img {
    max-width: 500px;
}

.per-det {
    margin: 5px 0px;
}

.per-det span {
    color: gray;
}

.about-ul li {
    text-align: center;
    padding: 2px;
}