
.car-img{
    width: 100%;
    height: 630px;
    
}

.car-para{
    font-size: 35px;
    position: absolute;
}

.para-1{
    transform: translate(-200px , -350px);
    width : 600px

}
.hed-1{
    font-size: 40px;
}

.para-2{
    transform: translate(10rem , -25rem);
    width: 800px;
}