.header-cont {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-right: 20px;
}

html {
    scroll-behavior: smooth;
}

.logo {
    width: 100px;
}

.header-link {
    margin: 0px 30px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    transition: all 0.1s;
}

.header-link:hover {
    transform: scale(1.1);
    color: white;
}

.header-link::after {
    content: '';
    display: block;
    margin-top: 4px;
    transform: scaleX(0);
    height: 2px;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.header-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.open-to-work {
    color: red;
    font-weight: bold;
}

.PageActive {
    color: white;
    font-weight: bold;
}