.home-cont {
    background: var(--bgColor);
    height: 100vh;
    overflow-y: scroll;
}


.home-btn-link {
    color: #1a1f61;
    text-decoration: none;
}

.home-btn-link:hover {
    color: #1a1f61;
}

.home-content {
    height: 84vh;
    width: 85vw;
    margin: auto !important;
}

.home-text-cont {
    animation: fromLeft .5s ease-in-out .2s forwards;
    opacity: 0;
}


.home-img {
    max-width: 1000px;
}

.home-img-cont {
    opacity: 0;
    animation: fromRight .5s ease-in-out .2s forwards;
}


.home-btn {
    background-color: #FFFFCC;
    color: #1a1f61;
    padding: 5px;
    width: 120px;
    border-radius: 5px;
    border: none;
    transition: all .2s linear;
    font-weight: bold;
}

.home-btn:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: scale(1.05);
}