.landing-cont {
    margin: 0px 0px 100px 0px;
}

.home-cont {
    background-image: url("");
    background-color: #1a1f61;
    height: 100vh;
}

.home-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 20px;
    padding: 100px;
}

.home-heading {
    color: white;
    font-size: 30px;
    text-align: center;
}

.no-project-text {
    position: relative;
    left: 50%;
    transform: translateX(-6%);
    color: orange;
    padding: 20px 0px;
}

.home-headings {
    font-size: 1.4em;
    display: inline-block;
    padding-left: 15px;
    color: rgb(41, 40, 40);
}

.home-headings::after {
    content: '';
    display: block;
    background-color: black;
    transform: scaleX(0);
    height: 2px;
    margin-top: 4px;
    transition: transform .25s ease-in;
    transform-origin: bottom right;
}

.home-headings:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


@media screen and (max-width:480px) {
    .landing-cont {
        height: 300px;
        width: 100%;
        padding: 2px;
    }

    .landing-heading {
        font-size: 16px;
        transform: translateY(-20px);
    }

    .home-cont {
        margin: 0px 0px 0px 5px;
    }
}