.landing-cont {
    margin: 0px 0px 100px 0px;
    /* animation: comeFromTop 2s .25s cubic-bezier(0 , .5 , 0 , 1) forwards; */
}

.arrow-icon {
    margin-left: 20px;
}

.skills-cont {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slider {
    width: 95%;
    margin: auto;

}

.no-project-text {
    position: relative;
    left: 50%;
    transform: translateX(-6%);
    color: orange;
    padding: 20px 0px;


}

.home-headings {
    font-size: 1.4em;
    display: inline-block;
    padding-left: 15px;
    color: rgb(41, 40, 40);
}

.home-headings::after {
    content: '';
    display: block;
    background-color: black;
    transform: scaleX(0);
    height: 2px;
    margin-top: 4px;
    transition: transform .25s ease-in;
    transform-origin: bottom right;
}

.home-headings:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.skill-heading {
    margin-top: 20px;
}


@media screen and (max-width:480px) {
    .landing-cont {
        height: 300px;
        width: 100%;
        padding: 2px;
    }

    .landing-heading {
        font-size: 16px;
        transform: translateY(-20px);
    }

    .home-cont {
        margin: 0px 0px 0px 5px;
    }
}