:root {
    --textColor: white
}

.whole-project-cont {
    background: var(--bgColor);
    height: 100vh;
    overflow-y: scroll;
}


.project-min-cont {
    width: 99%;
    padding: 50px;
    margin: auto;
}

.project-item {
    background: linear-gradient(to bottom, white, white, white, #58A1A3);
    border: 1px solid rgb(218, 217, 217);
    border: none;
    border-bottom: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    transition: all .20s ease-in-out;
    height: 320px;
    margin: 50px 20px;
    width: 300px;
    opacity: 0;
    animation: fromBottom .8s ease-in-out calc(var(--projOrder) * 100ms) forwards;
    animation-direction: alternate;
}


.project-component-removed {
    opacity: 0;
    animation: toBottom .7s ease-in-out calc(var(--projOrder) * -20ms) forwards;
}

@keyframes toBottom {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(200%);
    }

}




.know-more-link {
    color: #58A1A3;
    text-decoration: none;
    font-weight: bold;
}

.know-more-link:hover {
    color: #58A1A3;
}

.project-item:hover {
    transform: scale(1.02);
}

select {
    width: 150px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px !important;
}

select:focus {
    outline: none;

}

select option {
    transition: all .5s ease-in;
    border: none;
}