.skill-whole-page {
    background: var(--bgColor);
    height: 100vh;
}

.skill-list {
    list-style: none;
    height: 50px;
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-bottom: none;
    width: 150px !important;
    overflow: hidden;
    border-radius: 10px;
    background-color: lemonchiffon;
}

.skills-cont {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0;
    animation: fromLeft .5s ease-in-out .2s forwards;
}

.skill-page {
    width: 85vw;
    margin: auto !important;
}

.skill-title-img-cont {
    opacity: 0;
    animation: fromRight .5s ease-in-out .2s forwards;
}


.skill-min-cont {
    display: flex;
    align-content: center;
}

.skill-list:hover {
    transform: scale(1.1);
}

.skill-name {
    font-size: 14px;
    transform: translate(0%, 40%);
    font-weight: bold;
    color: black;
}

.skill-text-cont {
    display: flex;
    align-items: center;
    width: 70px;
    justify-content: center;
}

.dummy {
    transform: translateX(200%) !important;
    background-color: red;
}